/*---------Layouts---------*/

$page-padding-left: 4.3%;
$page-padding-top: 3%;

/*----------Colors---------*/
$primary-color: #252525;
$primary_dark-color: #1a1a1a;
$primary_light-color: #353535;
$secondary-color: #f3ff0a;
$white-color: #fff;

/* --------Input ----------*/
$input-color: #c6c6c6;
$input-border-color: #ccc;
 
