@import "../../../styles/theme.scss";

.input {
  border: 0px;
  border-radius: 4px;
  min-height: 45px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.08);
  color: $white-color;
  padding-left: 12%;
  outline: none;
  width: 75%;
}
