@import "../../../styles/theme.scss";

.history-page_layout {
  display: flex;
  flex-direction: column;
  background-color: $primary_dark-color;
  flex: 1;
  padding-right: $page-padding-left;
  padding-left: $page-padding-left;
  padding-top: $page-padding-top;

  .link-wrapper {
    margin: 5% 0 5% 0;
  }
}
